<div class="jumbotron">
    <h1 data-translate="foo.heading"></h1>

    <p class="lead" data-translate="foo.slogan"></p>

    <p>
        <a class="btn btn-lg btn-success" data-ui-sref="bar" role="button" data-translate="foo.button.bar"></a>
        <a class="btn btn-lg btn-info" data-ng-click="vm.onClickCtrl()" role="button"
           data-translate="foo.button.ctrl"></a>
    </p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4 data-translate="foo.feature.a.heading"></h4>

        <p data-translate="foo.feature.a.content"></p>
    </div>

    <div class="col-lg-6">
        <h4 data-translate="foo.feature.b.heading"></h4>

        <p data-translate="foo.feature.b.content"></p>
    </div>
</div>
